# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/docs/原始文件
/docs/*.pdf
/docs/*.docx
/docs/*.png
/docs/*.jpg
.idea/
